{% block modal %}

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">x</span>
        <h1 name="banner">{{banner}}</h1>
        <div>{{username}}{{message}}</div>
        <br>
        <br>
        <br>
        <form method="post">
            <input type="submit" value="Log Out">
        </form>
    </div>
</div>

<script type="text/javascript">
var modal = document.getElementById('myModal');
var btn = document.getElementById("loginBtn");
var span = document.getElementsByClassName("close")[0];
btn.onclick = function() {
    modal.style.display = "block";
}
span.onclick = function() {
    modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


{% endblock %}