{% extends "base.html" %}

{% block content %}

{% if status == "Like" %}

<div id="likes">
    <h2 class="blog-title">{{post.subject}}</h2>
    <pre class="blog-post">{{post.content}}</pre>
    <div id="like_box">
        <span>Likes:{{post.likes}}</span>
        <form method="post">
                <label>
                    <input type="checkbox" name="like_checkbox">
                    {% if liked == "no" %}
                        <input type="submit" value="Like">
                    {% elif liked == "yes" %}
                        <input type="submit" value="Unlike">
                    {% endif %}
                </label>
        </form>
    </div>
</div>

{% else %}

<h2 class="blog-title">{{post.subject}}</h2>
<pre class="blog-post">{{post.content}}</pre>
<span>Likes:{{post.likes}}</span>

{% endif %}

{% if can_edit == "yes" %}

<a href="{{edit_link}}">Edit</a>

{% elif can_edit == "no" %}

<h3>Sorry you can't edit this post</h3>

{% endif %}

{% if comments %}
    <h2>Comments</h2>
    <ul style="list-style:None">
    {% for comment in comments %}
    <li>{{comment.comment}}</li>
    <br><span>By:{{comment.username}}</span>
    <hr>
        <div id="{{comment.key().id()}}" class="modal">
        <div class="modal-content">
            <span class="close">x</span>
            <h1>{{banner}}</h1>
            <form method="post" id="editComment">
                <label>
                    <div>Comment</div>
                    <textarea name="editedComment">{{comment.comment}}</textarea>
                    <input type="submit" value="Edit">
                </label>
          </form>
        </div>
    </div>
    </ul>

     {% if comment.username == username %}
    <button type="button" data-toggle="modal" data-target="{{comment.key().id()}}" name="edit" id="editBtn">Edit</button>

    <script type="text/javascript">
        var {{comment.key().id()}} = document.getElementById('{{comment.key().id()}}');
        var edit_btn = document.getElementById("editBtn");
        var span = document.getElementsByClassName("close")[0];

        edit_btn.onclick = function() {
            {{comment.key().id()}}.style.display = "block";
        }
        span.onclick = function() {
            {{comment.key().id()}}.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == {{comment.key().id()}}) {
                {{comment.key().id()}}.style.display = "none";
            }
        }
    </script>
    {% endif %}
    {% endfor %}

{% endif %}

{% if can_comment == "yes" %}

<form action="/blog/comment/{{comment.key().id()}}" method="post">
     <label>
            <div>Comment</div>
            <textarea placeholder="Insert comment here!" id="postComment"></textarea>
            <input type="submit" value="Comment">
        </label>
</form>

{% else %}
<span>Sign In to comment!</span>
{% endif %}




{% endblock %}