{% extends "base.html" %}

{% block content %}

{% if status == "Like" %}

<div id="likes">
    <h2 class="blog-title">{{post.subject}}</h2>
    <pre class="blog-post">{{post.content}}</pre>
    <div id="like_box">
        <span>Likes:{{post.likes}}</span>
        <form method="post">
                <label>
                    <input type="checkbox" name="like_checkbox">
                    {% if liked == "no" %}
                        <input type="submit" value="Like">
                    {% elif liked == "yes" %}
                        <input type="submit" value="Unlike">
                    {% endif %}
                </label>
        </form>
    </div>
</div>

{% else %}

<h2 class="blog-title">{{post.subject}}</h2>
<pre class="blog-post">{{post.content}}</pre>
<span>Likes:{{post.likes}}</span>

{% endif %}

{% if can_edit == "yes" %}

<a href="{{edit_link}}">Edit</a>

{% elif can_edit == "no" %}

<h3>Sorry you can't edit this post</h3>

{% endif %}

{% if comments %}
    <h2>Comments</h2>
    <ul style="list-style:None">
    {% for comment in comments %}
    <li>{{comment.comment}}</li>
    <br><span>By:{{comment.username}}</span>
    {% if comment.username == username %}
    <button type="button" data-toggle="modal" data-target="editModal" name="edit" id="editBtn">Edit</button>
    {% endif %}
    <hr>
        <div id="editModal" class="modal">
        <div class="modal-content">
            <span class="close">x</span>
            <h1>{{banner}}</h1>
            <form method="post">
                <label>
                    <div>Comment</div>
                    <textarea name="editedComment">{{comment.comment}}</textarea>
                    <input type="submit" value="Edit">
                </label>
          </form>
        </div>
    </div>
    {% endfor %}
    </ul>

{% endif %}

{% if can_comment == "yes" %}

<form method="post">
     <label>
            <div>Comment</div>
            <textarea name="comment" placeholder="Insert comment here!"></textarea>
            <input type="submit" value="Comment">
        </label>
</form>

{% else %}
<span>Sign In to comment!</span>
{% endif %}


<script type="text/javascript">
var edit_modal = document.getElementById('editModal');
var edit_btn = document.getElementById("editBtn");
var span = document.getElementsByClassName("close")[0];

edit_btn.onclick = function() {
    edit_modal.style.display = "block";
}
span.onclick = function() {
    edit_modal.style.display = "none";
}
window.onclick = function(event) {
    if (event.target == edit_modal) {
        edit_modal.style.display = "none";
    }
}

</script>



{% endblock %}